<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blindman's Cipher</title>
    <link rel="stylesheet" href="../static/style/main.css">
	<link rel="shortcut icon" href="../static/img/favicon.ico" />
</head>
<body>
    <div class="img">
       <div class="data">
        <h1 class="title">Blindman's Cipher</h1>
        <h3 class="tagline">The Invisible Secret</h3>
        <form action="cipherFile">
             <br>
             <button type="submit">CIPHER</button>
        </form>
        <form action="decipherFile">
             <br>
             <button type="submit">DECIPHER</button>
        </form>
        <div class="footer">
          <p> Made by <a href="https://www.twitter.com/shivamnyt"><strong>Shivam Pandya</strong></a></p>
        </div>
    </div>
</body>
</html>
